<div id="copy">
<h3 id="what">What</h3>
<p>Platform is a fast-paced, Creative Commons-licensed card game of swaying undecided voters. Take positions on issues in order to win over as many voters as you can by the end of the game. But beware, players can steal voters from you, and how consistent your stance on issues is will determine how loyal voters will be.</p>
<%= image_tag 'example_product.jpg' %>
<h3 id="how">How</h3>
<div class="quad">
<%= image_tag 'Mallory.png' %><%= image_tag 'Cherisse.png' %><%= image_tag 'Aidan.png' %><%= image_tag 'John.png' %>
</div>
<p>Over Super Bowl weekend, Mallory, Cherisse, Aidan, and John hacked for two and a half days. They played card games, designed, illustrated, programmed and play-tested in order to prototype a game that encapsulated both the fun spirit of tabletop games and the informed engagement of news games.</p>
<h3 id="why">Why</h3>
<p>Platform engages a millenial audience (such as the readers of BuzzFeed Politics, Vox, and Fusion) in localized, offline community building and encourages political participation. In doing so, we’re bridging the gap between news consumers and game players and paving the way for more informative gaming.</p>
<h3 id="rules">Read <a href="../docs/rules.pdf" target="_blank" onclick="trackOutboundLink('../docs/rules.pdf'); return false;">the Rules</a></h3>

<h3>Keep an eye out for us on Kickstarter and don't forget to follow <a href="https://twitter.com/snd">@SND</a>.</h3>
<div class="downloadButton"><p><a href="../docs/platform_v1.pdf" target="_blank" onclick="trackOutboundLink('../docs/platform_v1.pdf'); return false;">Enough jabber, I want to play!</a></p></div>
</div>