<div id="copy">
<h3 id="what">What</h3>
<p>Platform is a Creative Commons-licensed card game in which players gather voters by collecting a series of positions on topical issues.</p>
<%= image_tag 'example_product.jpg' %>
<h3 id="how">How</h3>
<div class="quad">
<%= image_tag 'Mallory.png' %><%= image_tag 'Cherisse.png' %><%= image_tag 'Aidan.png' %><%= image_tag 'John.png' %>
</div>
<p>Mallory, Cherisse, Aidan, and John hacked for two and a half days. They played card games, designed, illustrated, programmed and play-tested</p>
<h3 id="why">Why</h3>
<p>Platform engages a millenial audience (such as the readers of BuzzFeed Politics, Vox, and Fusion) in localized, offline community building and encourages political participation. In doing so, we’re bridging the gap between news consumers and game players and paving the way for more informative gaming.</p>
<h3 id="rules">The Rules</h3>
<p>The rules are simple: the player who controls the most voters wins! In the event of a tie, Iowa Caucus rules: flip a coin.</p>
<p>The game ends when either all voters are controlled by players or a player reveals the last voter card and every other player plays one last turn.</p>
<h4>Issues</h4>
<p>There are 13 issue types, each with two or three different <b>stances</b>. Each issue type is identified with a unique icon. Stances are coded with one of three faces: support, indifference, or opposition</p>
<h4>Voters</h4>
<p>There are 28 voters total. Each have two <b>issue</b> stances</p>
<h4>Starting the Game</h4>
<ul>
  <li>Separate and shuffle the ISSUE and VOTER cards into separate decks;</li>
  <li>Deal four ISSUE cards to each player;</li>
  <li>Reveal three VOTER cards;</li>
  <li>The player who has voted the most goes first. If there is a tie, figure out a fun way to break it (ie. test political trivia, dance-off, etc). Turn order is clockwise from the first player.</li>
</ul>
<h4>A Game Turn, Explained</h4>
<p>You do stuff in this game. This is the order in which you do it.</p>
<ul>
  <li>Draw a card from the ISSUE deck OR reveal a VOTER card.</li>
<li>If there are no more ISSUE cards to draw, reshuffle the discarded ISSUE cards.</li>
<li>A player may now use one of their ISSUE cards to sway VOTERS. A player cannot have more than one ISSUE card in play that is the same issue.</li>
<li>Detailed rules explaining this step are below in the “SWAYING VOTERS” section.</li>
<li>A player can also “flipflop” at this point, meaning they can discard an existing ISSUE card they control and replace it with another card that is the same issue but a different stance. Refer to the “FLIPFLOPPING” section for more details.</li>
<li>If a player was unable or unwilling to play an ISSUE card on their turn, they may optionally discard one of their ISSUE cards in order to draw another.</li>
<li>If a player has more than five ISSUE cards in their hand at the end of the turn, they must discard one of their cards.</li>
</ul></p>
<h4>Swaying Voters</h4>
<p>A player can sway a voter (take control) not controlled by another player in several different ways:</p>
<ul><li>The player plays an ISSUE card that matches one of the voter’s two issue stances;</li>
<li>The player can “combo” and collect more than one voter not controlled by another player on their turn if they have the same issue stance as the one played by the player;</li>
<li>Voters who are “Indifferent” on an issue can be swayed if you play a matching issue card of ANY STANCE. But beware, indifferent voters can be stolen from you in certain circumstances (more below);</li>
</ul>
<p>Example: Player A wants a voter who is “indifferent” to Gun Control, but they only have an issue card that “supports” it. Player A can use that card to sway the voter.</p>
<p>When a voter is revealed, if a player already has issue cards in play that match BOTH of the voter’s issue stances, you automatically get that voter!</p>
<p>A player cannot sway a voter if they already have an issue stance in play that is in “opposition” to the voter:
</p><p>Example: Player A wants a voter who supports Universal Health Care and has the appropriate issue card to do so. However, that voter is also opposed to gun control and the player had already played an issue card supporting it. Player A cannot sway that voter unless the player “flipflops” (see below).</p>
<h4>Losing Voters</h4>
<p>In Platform, voter support for you is not certain. Other players can steal your voters in certain circumstances and you may lose voters based on the positions you take throughout the game:
STEAL THIS VOTER! </p><p>If a player uses an issue stance card to sway a voter who was “indifferent” on that issue with a card that was any other stance other than indifferent, another player can steal that voter if they play a card that is the same issue with an indifferent stance.</p>
<p>The only caveat to this is if the player whose voter is about to be stolen has an issue card in play that
MATCHES the second issue stance of that voter, that player is protected from theft.</p>
<p>Example: Player A gained control of a voter who is “indifferent” to government surveillance by playing the issue card that “supports” it. However, Player B then plays the government surveillance issue card with the “indifferent” stance, meaning Player B “steals” the voter. But if Player A has an issue card in play that matches that voter’s second issue stance, Player B CANNOT steal the voter.</p>
<p>OPPOSING ISSUE STANCE: Any time a player plays an issue card that is direct opposition to an issue stance one of their voter’s has, the player loses control of that voter and returns it to the common pile.</p>
<h4>Flip-flopping</h4>
<p>A player can on their turn choose to discard an issue card they have in play in order to replace it with a card of the same issue but with a different stance. Should this happen, the player must return any voters they control to the common pile if they no longer possess any issue cards that match up with the voter.</p>
<h3>Keep an eye out for us on Kickstarter and don't forget to follow <a href="https://twitter.com/snd">@SND</a>.</h3>
<div class="downloadButton"><p><a href="../docs/platform_v1.pdf" target="_blank">Enough jabber, I want to play!</a></p></div>
</div>